<nav>
    <ul>
        <li><a href="#/">Home</a></li>
        <li>	
            <a href="">Catálogos <span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="#/alumnos">Alumnos</a></li>
                    <li><a href="#/externos">Externos</a></li>
                    <li><a href="#/maestros">Maestros</a></li>
                    <li><a href="#/clases">Clases</a></li>
                    <li><a href="#/eventos">Eventos</a></li>
                    <li><a href="#/talleres">Talleres</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="">Registro<span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="#/registroTalleres">Talleres</a></li>
                    <li><a href="#/pago/maestros">Pago Maestro</a></li>
                    <li><a href="#/movimientos">Movimientos</a></li>
                    <li><a href="#/asistencia">Asistencia</a></li>
                    <li><a href="#/entradasSalidas">Entradas y Salidas</a></li>
                </ul>
            </div>
        </li>
        <li>
            <a href="">Reportes<span class="caret"></span></a>
            <div>
                <ul>
                    <li><a href="#/reporteAlumnos">Alumnos</a></li>
                    <li><a href="#/reporteClases">Clases</a></li>
                    <li><a href="#/reporte/pago/maestros">Pago Maestros</a></li>
                    <li><a href="#/reporte/general">General</a></li>
                    <li><a href="#/reporte/talleres">Talleres</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>
